body {
    background-color: #002760;
    color: white;
}

img {
    text-align: center;
}

h1 {
    background-color: white;
    text-align: center;
    color: #002760;
}

.estadisticas {
    border: 1px solid white;
}